.about.tab
    .container  
        .about__wrap.tab__wrap
            .about__title.tab__title 
                span О нас

            .about__content.tab__content
                .about__block
                    .about__text
                        span(data-aos="fade-up" data-aos-once="true" data-aos-delay="50" data-aos-duration="600")
                            span.bold United Developers 
                            | - это создание продукта от идеи до конечного вопллощения. Мы берем на себя полный цикл разработки:
                        ul(data-aos="fade-up" data-aos-once="true" data-aos-delay="150" data-aos-duration="600")
                            li бизнес-анализ
                            li проджект-менеджмент
                            li разработка
                            li маркетинг
                            li поддержка

                    .about__img
                        img(src="img/about.png" alt="about")

                .about__block
                    .about__point.tab__point(data-aos="fade-up" data-aos-once="true" data-aos-delay="200" data-aos-duration="600")
                        span.bold Comfort
                        | Мы придерживаемся мнения, что программист сам определяет время необходимое на выполнение задачи. Мы используем актуальные технологии разработки.

                    .about__point.tab__point(data-aos="fade-up" data-aos-once="true" data-aos-delay="300" data-aos-duration="900")
                        span.bold Work-Life Ballance
                        | Работать, чтобы жить! А не жить, чтобы работать. Мы считаем, что везде нужен баланс. Гибкое начало рабочего дня и учет рабочего времени. Оплачиваемый овертайм.

                    .about__point.tab__point(data-aos="fade-up" data-aos-once="true" data-aos-delay="200" data-aos-duration="600")
                        span.bold Growth & Study
                        | Учение - свет. В изменчивом мире знания и экспертность ценятся как никогда высоко. 
                        | Мы это понимаем  и вкладываемся в развитие наших сотрудников.