.contacts#contacts
    .container
        .contacts__wrap
            .contacts__map(data-aos="fade-up" data-aos-once="true" data-aos-delay="0" data-aos-duration="600")
                span.contacts__title Мы на карте
                .map
                    .map__point.point
                        img(src='img/point_red.png', alt='point').point__img
                        .point__full
                            .point__full_img
                                img(src='img/point_full_red.png', alt='point')

                            .point__content
                                .point__title USA, Texas
                                .point__subtitle Sales Department

                    img(src="img/map.png", alt="map").map__map

                    .map__point.point
                        img(src='img/point_blue.png', alt='point').point__img
                        .point__full
                            .point__full_img
                                img(src='img/point_full_blue.png', alt='point')
                                
                            .point__content
                                .point__title Russia, Togliatti
                                .point__subtitle Main Office

            .contacts__content
                .contacts__links
                    .contacts__block(data-aos="fade-up" data-aos-once="true" data-aos-delay="0" data-aos-duration="600")
                        span.contacts__title Навигация
                        ul
                            li 
                                a(href="#body") Главная
                            li 
                                a(href="#about") О нас
                            li 
                                a(href="#work") Вакансии
                            li 
                                a(href="#callback") Обратная связь
                    
                    .contacts__block(data-aos="fade-up" data-aos-once="true" data-aos-delay="300" data-aos-duration="600")
                        span.contacts__title Мы в соц. сетях
                        ul
                            li 
                                a(href="https://career.habr.com/companies/udevelopment") Habr
                            li 
                                a(href="https://www.behance.net/UnitedDevelopers") Behance
                            li 
                                a(href="https://www.instagram.com/uni.devs/") Instagram
                            
                .contacts__copyright(data-aos="fade-up" data-aos-once="true" data-aos-delay="600" data-aos-duration="600")
                    |ООО “Юнайтед Девелоперс”
                    br
                    |+ 7 000 000 00
                    br
                    |hr@udev.dev
                    br
                    |Telegram: HR_udev