doctype html
html(lang="ru")
    block head
        head
            meta(charset="utf-8")
            title Title your site
            meta(content="width=device-width, initial-scale=1" name="viewport")
            meta(content="ie=edge" http-equiv="x-ua-compatible")
            link(rel="stylesheet" href="css/style.min.css")
            link(rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css")
    body#body
        .telegram
            img(src="img/Telegram.png", alt="telegram")

        .telegramFull
            .hr
                .resipients
                    .resipient
                        img(src="img/vitalya.png", alt="Vitalya")
                        
                    .resipient
                        img(src="img/irina.png", alt="Irina")
                        
                    .resipient
                        img(src="img/doge.png", alt="Doge")

                .hr__text Выбери своего HR менеджера

            .telegramFull__content
                span HR manager Виталя
                .telegramFull__buttons
                    button.telegramFull__send(type='button') Написать в Telegram
                    button.telegramFull__noTelegram(type='button') У меня нет Telegram’а

        block header
            include header
            
        block content

        block scripts
            script(src="https://unpkg.com/aos@next/dist/aos.js")
            script(src='js/main.min.js')