section.main_window
    .container
        .main_window__wrap
            .main_window__title_wrapper
                .h1.main_window__title(data-aos="fade-up" data-aos-once="true" data-aos-delay="0" data-aos-duration="600") Мы занимаемся 
                    br
                    | мобильной разработкой
                .h1.main_window__title(data-aos="fade-up" data-aos-once="true" data-aos-delay="150" data-aos-duration="600") и технической 
                    br
                    | поддержкой 
                .h1.main_window__title(data-aos="fade-up" data-aos-once="true" data-aos-delay="300" data-aos-duration="600") мобильных приложений 

            .main_window__image
                img(src="img/main_window.png" alt="main image") 