nav.nav
    div
        a#about_link О нас
        .nav__bg#about_link_bg 
    div
        a#our_cases_link Наши кейсы
        .nav__bg#our_cases_link_bg 
    div
        a#work_link Вакансии
        .nav__bg#work_link_bg 
    div
        a#callback_link Обратная связь
        .nav__bg#callback_link_bg 
    div
        a#contacts_link Контакты
        .nav__bg#contacts_link_bg