nav.nav
    div
        a(href="#about") О нас
    div
        a(href="#our_cases") Наши кейсы
    div
        a(href="#work") Вакансии
    div
        a(href="#callback") Обратная связь
    div
        a(href="#contacts") Контакты