nav.navMobile#navMobile
    .navMobile__close#nav_close
    .navMobile__wrap
        .link_wrap
            div
                a#about_link-m О нас
            div
                a#our_cases_link-m Наши кейсы
            div
                a#work_link-m Вакансии
            div
                a#callback_link-m Обратная связь
            div
                a#contacts_link-m Контакты