.our_cases.tab
    .container
        .our_cases__wrap.tab__wrap
            .our_cases__title.tab__title
                span Наши 
                br
                | кейсы

            .our_cases__content.tab__content
                .caseWrapper
                    .case(data-aos="fade-up" data-aos-once="true" data-aos-delay="200" data-aos-duration="600")
                        .case__title skytalk

                        .case__img
                            img(src="img/case_1.png" alt="case")

                        .case__content
                            ul
                                li Модернизированная AOSP платформа для работы телефона со спутниковой связью
                                li React-Native
                                li Native Android, Android NDK, React.js, Node.js
                                li Интеграция с AOSP
                                li Walkie-Talkie
                                li Интеграция со спутниковым модулем
                                li SaaS messaging platform based on Matrix, WebRTC, and other open-source libraries
                                li Команда: React native x2, Android developer x2, QA eng, PM

                    .case(data-aos="fade-up" data-aos-once="true" data-aos-delay="200" data-aos-duration="600")
                        .case__title Sammurai

                        .case__img
                            img(src="img/case_2.png" alt="case")

                        .case__content
                            ul
                                li Sammurai app: аудио-маркетинг платформа
                                li Два кросс-платформенных приложения, backend, admin-panel.
                                li React-Native в качестве платформы
                                li Pixel perfect вестка по макетам Zeplin.
                                li Кастомный аудио плеер, запись аудио
                                li Команда: Lead React Native developer, React Native developer, QA, PM
                    .case(data-aos="fade-up" data-aos-once="true" data-aos-delay="200" data-aos-duration="600")
                        .case__title The Chamber Voice

                        .case__img
                            img(src="img/case_3.png" alt="case")

                        .case__content
                            ul
                                li The chamber voice - соцсеть для предпринимателей. С основными функциями: follow, отправка рефералов, feed с рекламой товаров и акциями и много чего еще
                                li Backend, laravel
                                li Native Android & IOS,
                                li Kotlin-Swift
                                li PhP
                                li React for admin-panel
                                li Команда: PHP developer, React developer, PM, QA, Android developer x2, IOS developer x2.
                                li SaaS messaging platform, нативное Android приложение для работы спутникого и Walkie-talkie модулей