.work.tab
    .container
        .work__wrap.tab__wrap
            .work__title.tab__title
                span Вакансии

            .work__content.tab__content
                .work__description(data-aos="fade-up" data-aos-once="true" data-aos-delay="0" data-aos-duration="600")
                    |United Developers - всегда в поиске талантов
                    br
                    br
                    |Мы благодарим за рекомендации. Подробнее вы можете узнать у наших HR

                .work__list
                    .vacancy(data-aos="fade-up" data-aos-once="true" data-aos-delay="100" data-aos-duration="600")
                        .vacancy__title React Native developer
                        .vacancy__subtitle Тольятти/Удаленно  

                    .vacancy(data-aos="fade-up" data-aos-once="true" data-aos-delay="200" data-aos-duration="600")
                        .vacancy__title IOS
                            br
                            | developer
                        .vacancy__subtitle Тольятти/Удаленно  

                    .vacancy(data-aos="fade-up" data-aos-once="true" data-aos-delay="300" data-aos-duration="600")
                        .vacancy__title Android developer
                        .vacancy__subtitle Тольятти/Удаленно  

                    .vacancy(data-aos="fade-up" data-aos-once="true" data-aos-delay="400" data-aos-duration="600")
                        .vacancy__title Flutter developer
                        .vacancy__subtitle Тольятти/Удаленно  

                    .vacancy(data-aos="fade-up" data-aos-once="true" data-aos-delay="500" data-aos-duration="600")
                        .vacancy__title Ruby on 
                            br
                            | Rails
                        .vacancy__subtitle Тольятти/Удаленно  

                    .vacancy(data-aos="fade-up" data-aos-once="true" data-aos-delay="500" data-aos-duration="600")
                        .vacancy__title  
                        .vacancy__subtitle