.work.tab#work
    .container
        .work__wrap.tab__wrap
            img(src="img/bgg_open_positions.png", alt="bg_grad")
            .work__title.tab__title(data-aos="fade-up" data-aos-once="true" data-aos-delay="200" data-aos-duration="600")
                span Вакансии

            .work__content.tab__content
                .work__description(data-aos="fade-up" data-aos-once="true" data-aos-delay="0" data-aos-duration="600")
                    |United Developers - всегда в поиске талантов
                    br
                    br
                    |Мы благодарим за рекомендации. Подробнее вы можете узнать у наших HR

                .work__list
                    .vacancy(data-aos="fade-up" data-aos-once="true" data-aos-delay="100" data-aos-duration="600")
                        a.vacancy__title(target='_blank' href='https://udevelopers.notion.site/React-Native-developer-5f99423d34ce472f99e68aec84af6fe0') React Native 
                            br
                            |developer
                        .vacancy__subtitle Тольятти/Удаленно  

                    .vacancy(data-aos="fade-up" data-aos-once="true" data-aos-delay="200" data-aos-duration="600")
                        a.vacancy__title(target='_blank' href='https://udevelopers.notion.site/iOS-developer-eeb52386cf054abb962f507c9351359a') IOS
                            br
                            | developer
                        .vacancy__subtitle Тольятти/Удаленно  

                    .vacancy(data-aos="fade-up" data-aos-once="true" data-aos-delay="300" data-aos-duration="600")
                        a.vacancy__title(target='_blank' href='https://udevelopers.notion.site/Android-developer-a877381aa6bc4450ac2e82b116af5e2f') Android 
                            br
                            |developer
                        .vacancy__subtitle Тольятти/Удаленно  

                    .vacancy(data-aos="fade-up" data-aos-once="true" data-aos-delay="400" data-aos-duration="600")
                        a.vacancy__title(target='_blank' href='https://udevelopers.notion.site/Flutter-developer-7721f1c5d7dc4cd98ba89799ae854f28') Flutter 
                            br
                            |developer
                        .vacancy__subtitle Тольятти/Удаленно  

                    .vacancy(data-aos="fade-up" data-aos-once="true" data-aos-delay="500" data-aos-duration="600")
                        a.vacancy__title(target='_blank' href='https://udevelopers.notion.site/Ruby-on-Rails-766b09638f4046e88a5edb9af5881411') Ruby on 
                            br
                            | Rails
                        .vacancy__subtitle Тольятти/Удаленно  

                    .vacancy(data-aos="fade-up" data-aos-once="true" data-aos-delay="500" data-aos-duration="600")
                        .vacancy__title  
                        .vacancy__subtitle