@import "common/global";

@import "common/header";

@import "common/footer";

.main_window {
    min-height: 100vh;

    &__wrap {
        min-height: 100vh;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    &__title {
        &_wrapper {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        span {
            display: block;
        }
    }
}

.tab {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    line-height: 30px;

    &__wrap {
        width: 100%;
        display: flex;
        flex-direction: row;
    }

    &__title {
        width: 25%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        font-size: 48px;
        position: relative;

        &::before {
            width: 3px;
            background-color: #2b2b2e;
            height: 1000000vh;
            display: block;
            content: '';
            position: absolute;
            right: 0;
            top: 0;
            transform: translateY(-50%);
        }

        &::after {
            position: absolute;
            content: '01';
            display: block;
            font-size: 100px;
            color: rgba(255, 255, 255, 0.07);
            left: 50%;
            transform: translateX(-50%);
            bottom: -7.5px;
            font-weight: bold;
        }

        span {
            display: flex;
            flex-direction: row;
            justify-content: center;
            font-size: inherit;
        }
    }

    &__content {
        padding-left: 40px;
        max-width: 70%;
    }

    &__point {
        position: relative;

        &::after {
            display: block;
            content: '';
            position: absolute;
            right: -15px;
            top: 0;
            height: 1000000vh;
            width: 0.5px;
            transform: translateY(-50%);
            z-index: -1;
            background-color: #2b2c2e;
        }

        &:last-child {
            &::after {
                display: none;
            }
        }
    }
}

.about {
    &__wrap {
        padding-top: 90px;
    }

    &__text {
        max-width: 420px;

        ul {
            padding-top: 20px;
        }

        li {
            padding-bottom: 5px;

            &:last-child {
                padding-bottom: 0;
            }
        }
    }

    &__block {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        &:last-child {
            align-items: flex-end;
            margin-top: 130px;
        }
    }

    &__point {
        width: 30%;
        padding-right: 10px;

        span {
            display: block;
            margin-bottom: 15px;
            font-weight: 500;
            font-size: 40px;
            line-height: 47px;
        }
    }

    &__title {
        padding-bottom: 115px;

        &::after {
            bottom: 135px;
        }
    }
}