@import "../../local_modules/normalize.css/normalize";
@import 'nav.scss';
@import '../utils/fonts.scss';

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-size: 18px;
    font-family: 'Rubik', sans-serif;
    font-weight: 300;
    background-color: #25242A;
    color: #ffffff;
    position: relative;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
    font-size: inherit;
    color: inherit;
}

ul {
    padding: 0;
    margin: 0;
}

.container {
    display: block;
    width: 100%;
    margin: 0 auto;
    max-width: 1250px;
}

.h1 {
    font-size: 65px;
    line-height: 166.5%;
    font-weight: 300;
}

.bold {
    font-weight: 700;
}