@import "../../local_modules/normalize.css/normalize";

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-size: 18px;
    font-family: 'Rubik', sans-serif;
    font-weight: 300;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
}

.container {
    display: block;
    width: 100%;
    margin: 0 auto;
    max-width: 1184px;
}