extends common/layout

block content
    include common/nav_mobile
    include common/main_window
    
    section.tabulation
        include common/about
        include common/our_cases
        include common/work
        include common/callback

    include common/contacts